{
  "extends" : "eslint:recommended",
  "env" : {
    "browser" : true,
    "es6" : true,
    "node" : true,
    "jquery" : true
  },
  "parserOptions" : {
    "ecmaVersion" : 6,
    "sourceType" : "script",
    "ecmaFeatures" : {
      "jsx" : true
    }
  },
  "rules" : {
    "no-console" : 0,
    "no-mixed-spaces-and-tabs" : 2,
    "quotes" : [2, "double", "avoid-escape"]
  },
  "globals": {
    "console" : true
  }
}
